<div class="sim-plane">
    <!--<svg class="stick"><line x1="20" y1="20" x2="100" y2="20" stroke="black" /></svg>
    <svg class="stick"><line x1="100" y1="20" x2="180" y2="20" stroke="black" /></svg>
    <svg class="stick"><line x1="180" y1="20" x2="260" y2="20" stroke="black" /></svg>-->

    <div class="knot" style="@KnotA.GetPositionCSS()"></div>
    <div class="knot" style="@KnotB.GetPositionCSS()"></div>
    <div class="knot" style="@KnotC.GetPositionCSS()"></div>
    <div class="knot" style="@KnotD.GetPositionCSS()"></div>
</div>

<div id="control-pane">
    <button class="btn btn-primary" @onmouseup="Run">Start Simulation</button>
    <button class="btn btn-secondary" @onclick="Stop">Stop Simulation</button>
</div>
